body {
	background-color: #F2FFFC;
	font-family: "Crimson Text", serif;
	font-size:120%;
	line-height: 1.5;
}

main h1{
	font-size: 60px;
	background-color: #851944;
	color: #F2FFFC;
	text-align: center;
	font-family: "Open Sans Condensend", sans-serif;
	padding: 20px;
	margin: 0;
	text-transform: uppercase;
    border-bottom: 10px solid black;


}

h2 {
	font-size: 40px;
	font-family: "Open Sans Condensend", sans-serif;
	clear: both;


}

p {
	text-align: justify;
	margin: 20px 0;
}
blockquote {
	background-color: #D3DDDA;
	padding:16px;
	border:10px solid #C2CCCA ;
	width:250px;
	margin:20px 3px;
	box-sizing:border-box;		
}
cite {
	font-style: italic;
	float: right;
}
strong {
	font-weight: 600;
	display: inline;
}
em {
	font-style: italic;
}
aside {
	background-color: #3C1D3D;
	color: #F2FFFC;
	text-align: center;
	padding: 20px;
	font-family: "Open Sans Condensend", sans-serif;


}

nav h1 {
	font-size: 30px;
	margin-bottom: 25px;
}
nav a {
    color: inherit;
    text-transform: lowercase;
}
.artigo {
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.leia-mais {
	padding: 8px;
	margin: 16px;
	display: block;
	font-size: 24px;
	text-align: center;
	background-color: #E6E7E8;
}

.icones-sociais li {
   display: inline-block;

}
footer {
	background-color: #000;
	color: #F2FFFC;
	padding:20px;
}
.icones-sociais a {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-indent: -9999px;
}
.github {
	background-image: url(github.png);
}
.twitter { 
	background-image: url(twitter.png);
}
.linkedin {
	background-image: url(linkedin.png);
}

.container {
	width: 720px;
	margin: auto;
	padding: 40px 0;
	padding-bottom: 80px;
}
.fiat {
	float: right;
}
.petrobras {
	float: left;
}
aside, .minha-foto {
   float: right;  
   box-sizing: border-box;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
}

 aside {
 	clear: right; 
 	width: 15%;
 	position: relative;
 	top: 310px;

 }
main {
	float: left;
	width: 85%;
}
footer {
	clear:both;
	position: fixed;
	bottom:0;
	width:100%;
	
}
.minha-foto {
	position: absolute;
	top:0;
	right:0;

}